.number {
  background-image: url(../images/bg14.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 80px 0;
}

.number .container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.number--item {
}

.number--item i {
  display: block;
  font-size: 3rem;
  height: 80px;
  width: 80px;
  line-height: 80px;
  background-size: 200px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  color: white;
  margin: 15px auto;
}

.number--countUp {
  font-size: 3.8rem;
  font-weight: 900;
  color: #f55f8d;
}

.number--countUp p {
  display: inline-block;
}

.number--item p {
}
